body {
  padding: 50px;
  background-color: lightblue;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.chartWithOverlay {
    position: relative;
    width: 700px;
}
.overlay-text {
    /*width: 200px;
    height: 200px;*/
    position: absolute;
    top: 0;   /* chartArea top  */
    left: 500px; /* chartArea left */
    font-size: 50px;
}
.court {
    width: 775px;
    height: 425px;
    position: absolute;
    top: 120px;   /* chartArea top */
    left: 85px; /* chartArea left */
    opacity: 0.4;
    pointer-events: none;
    /*cursor: default;*/
}