<h1>{{title}}</h1>

{{!-- <div id="chart_div"></div> --}}
<div id="chart_div" style="width: 1000px; height: 600px;"></div>
{{!-- <div class="overlay-text">
  <div style="font-family:'Arial Black'; font-size: 128px;">88</div>
  <div style="color: #b44; font-family:'Arial Black'; font-size: 32px; letter-spacing: .21em; margin-top:50px; margin-left:5px;">zombie</div>
  <div style="color: #444; font-family:'Arial Black'; font-size: 32px; letter-spacing: .15em; margin-top:15px; margin-left:5px;">attacks</div>
</div>

<div class="overlay-marker">
   <img src="https://developers.google.com/chart/interactive/images/zombie_150.png" height="50">
</div> --}}