<h1>{{title}}</h1>

{{!-- <div id="chart_div"></div> --}}
<div id="chart_div" style="width: 1000px; height: 600px;"></div>
<div class="overlay-text" style="font-size: 100px;">
  Time: 0100
</div>
{{!-- 
<div class="overlay-marker">
   <img src="https://developers.google.com/chart/interactive/images/zombie_150.png" height="50">
</div> --}}